################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlightOptimizerManager/.vs/FlightOptimizerManager/v15/Server/sqlite3
